@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.containerLogin {
  background-image: url(assets/img/fondoLogin.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  background-image: url(assets/img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  animation: rotate 7s linear both infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
